# Copyright (c) 2021 Huawei Device Co., Ltd.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on early-init
    write /proc/sys/net/unix/max_dgram_qlen  600

on post-fs-data
    start hilogd

service hilogd /system/bin/hilogd
    disabled
    user logd
    socket hilogInput dgram+passcred 0666 logd logd
    socket hilogControl seqpacket 0600 logd logd
    seclabel u:r:logd:s0
